# refactor services config file
config.yml*

# macOS
.DS_Store

# Xcode
xcuserdata/
*.xccheckout
*.xcscmblueprint
build/
log/

# Cocoapods
Pods/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace


.build/